{% extends 'base.html' %}

{% block content %}
<!-- show.html uses this template, and is the file that gets rendered from
  '/users/[user-id]' -->
<div class="full-width">
  <!-- Added the if conditionals and all logic in lines 19-25, and the "full-width" image class.
    I removed the warbler-hero id from the div. Note, the space
    from the bottom of the navbar to the top of the image
    is the 1rem margin bottom on .navbar; I kept it because
    the homepage navbar without this margin makes the
    content too close to it.
  -->
  <!-- if user.header_image_url, doesn't work with the logic in line 19-25.
    This db has a lot of header images that render as xml, and
    python and jinja can't render them; even when we access the jpg
    url for the image.
  -->
  {% if status_code == 403|int() %}
    <img src="/static/images/warbler-hero.jpg" alt="Image for {{ user.username }}" class="full-width">
  {% elif status_code != 403|int() %}
    <img src="{{ user.header_image_url }}" alt="Image for {{ user.username }}" class="full-width">
  {% else %}
    <img src="/static/images/warbler-hero.jpg" alt="Image for {{ user.username }}" class="full-width">
  {% endif %}
  </div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Messages</p>
            <h4>
              <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Following</p>
            <h4>
              <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Followers</p>
            <h4>
              <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
            </h4>
          </li>
          <li class="stat">
            <p class="small">Likes</p>
            <!-- Added line 54 -->
            <h4><a href="/users/{{ user.id }}/likes">{{ user.likes | length }}</a></h4>
          </li>
          <div class="ml-auto">
            {% if g.user.id == user.id %}
            <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
            <form method="POST" action="/users/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
            {% elif g.user %}
            {% if g.user.is_following(user) %}
            <form method="POST" action="/users/stop-following/{{ user.id }}">
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST" action="/users/follow/{{ user.id }}">
              <button class="btn btn-outline-primary">Follow</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">@{{ user.username }}</h4>
    <!-- Added bio and location jinja variable in line 84 and 85. -->
    <p>BIO: {{ user.bio }}</p>
    <p class="user-location"><span class="fa fa-map-marker"></span>{{ user.location }}</p>
  </div>

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}